---
const {name}= Astro.props;
const {role}= Astro.props;
const {picture}= Astro.props;
---
<div class="picture">
    <img src={picture}/>

    <div class="name">
        <p>{name}</p>
    </div>

    <div class="role">
        <p>{role}</p>
    </div>
</div>

<style>
.picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
}
.picture img {
    width:600px
}
.name{
    font-size: 20px;
}
.role{
    font-size: 16px;
    margin-top: -5px;
}

</style>