---
import { Image } from "astro:assets";

const { name, role, picture, width = 600, height = 799.5 } = Astro.props;
---
<div class="picture">
    <Image src={picture} alt={name} width={width} />

    <div class="name">
        <h3>{name}</h3>
    </div>

    <div class="role">
        <h4>{role}</h4>
    </div>
</div>

<style>
.picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 50px;
    aspect-ratio: 3 / 4;
    flex-wrap: nowrap;
    width: 100%;
}
.picture img {
    width: clamp(220px, 30vw, 460px);
    max-width: 100%;
    height: auto;
}
.name{
    font-size: 20px;
}
.role{
    font-size: 16px;
    margin-top: -5px;
}

.name h3,
.role h4 {
    font-family: "Courier New", monospace;
}


@media (max-height: 700px) {
    .picture img {
        width: clamp(180px, 24vw, 320px);
        max-width: 90vw;
        height: auto;
    }
}

@media (min-height: 1080px) {
    .picture img {
    width: clamp(260px, 28vw, 520px);
        max-width: 100%;
        height: auto;
    }
}


</style>